
    <section class="matter">
        <div class="container">
            <form name="ticketForm" role="form" novalidate class="form-validation">
                <div id="divTicketInfo">
               
                    <div class="row">
                        <div class="col-md-6">
                            <b>Phone Details</b>
                            <hr />
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">@L("PurchasedDate")</label>
                                    <div class="col-md-5">
                                        <label class="control-label">
                                             : {{vm.ticket.purchasedDate}}
                                        </label>    
                                    </div>
                               
                                </div>                         
                            </div>
                            <div class="row">

                                <div class="form-group">
                                    <label class="col-md-4 control-label">@L("Boughtat")</label>
                                    <div class="col-md-5">
                                        <label class="control-label">
                                            : {{vm.ticket.boughtAt}}
                                        </label>
                                    </div>

                                </div> 


                            </div>
                            <div class="row">

                                <div class="form-group">
                                    <label class="col-md-4 control-label">@L("BrandName")</label>
                                    <div class="col-md-5">
                                        <label class="control-label">
                                            : {{vm.ticket.brand}}
                                        </label>
                                    </div>

                                </div> 
 

                            </div>
                            <div class="row">

                                <div class="form-group">
                                    <label class="col-md-4 control-label">@L("ProductName")</label>
                                    <div class="col-md-5">
                                        <label class="control-label">
                                            : {{vm.ticket.product}}
                                        </label>
                                    </div>

                                </div> 
 
                                                                
                            </div>

                            <div class="row">

                                <div class="form-group">
                                    <label class="col-md-4 control-label">@L("PhoneColor")</label>
                                    <div class="col-md-5">
                                        <label class="control-label">
                                            : {{vm.ticket.color}}
                                        </label>
                                    </div>

                                </div>
                                
                            </div>
                            <div class="row">

                                <div class="form-group">
                                    <label class="col-md-4 control-label">@L("Capacity")</label>
                                    <div class="col-md-5">
                                        <label class="control-label">
                                            : {{vm.ticket.capacity}}
                                        </label>
                                    </div>

                                </div>
                                
                            </div>

                        </div>

                        <div class="col-md-6">
                            <b>Additional phone Info</b>
                            <hr />

                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">@L("IMEINumber")</label>
                                    <div class="col-md-5">
                                        <label class="control-label">
                                            : {{vm.ticket.imeiNumber}}
                                        </label>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">@L("PhonePassword")</label>
                                    <div class="col-md-5">
                                        <label class="control-label">
                                            : {{vm.ticket.password}}
                                        </label>
                                    </div>

                                </div>

                            </div>
                            <div class="row">

                                <div class="form-group">
                                    <label class="col-md-4 control-label">@L("iCloudAddress")</label>
                                    <div class="col-md-5">
                                        <label class="control-label">
                                            : {{vm.ticket.icloudAddress}}
                                        </label>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">@L("iCloudPassword")</label>
                                    <div class="col-md-5">
                                        <label class="control-label">
                                            : {{vm.ticket.icloudPassword}}
                                        </label>
                                    </div>

                                </div>

                                
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">@L("Accessories")</label>
                                    <div class="col-md-5">
                                        <label class="control-label">
                                            : {{vm.ticket.accessory}}

                                        </label>
                                        <input hidden data-ng-model="vm.ticket.accessory" />
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">@L("PhonesCondition")</label>
                                    <div class="col-md-5">
                                        <label class="control-label">
                                            : {{vm.ticket.phoneCondition}}

                                        </label>
                                        <input hidden data-ng-model="vm.ticket.phoneCondition" />
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">@L("PhonesProblem")</label>
                                    <div class="col-md-5">
                                        <label class="control-label">
                                            : {{vm.ticket.phoneProblem}}

                                        </label>
                                        <input hidden data-ng-model="vm.ticket.phoneProblem" />
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="row">
                        <div class="alert alert-icon alert-warning alert-dismissible fade in" role="alert">

                            <div> {{vm.ticket.issueSummary}}</div>
                            <input hidden data-ng-model="vm.ticket.issueSummary" />
                        </div>
                    </div>

                    <div class="row alert alert-success alert-dismissible fade in ">

                        <div class="col-lg-4">
                            <label class="col-lg-4 control-label md-label">@L("TrackingNumber")</label>
                            <div class="col-lg-8">
                                <input type="text" class="md-data-view-input" name="trackingNumber" data-ng-model="vm.ticket.trackingNumber" />

                                @*<select ng-model="vm.ticket.ticketPriorityId" class="view-dropdown">
                                    <option ng-repeat="priority in vm.ticketPriorities" value="{{priority.id}}" ng-selected="priority.id == vm.ticket.ticketPriorityId">{{priority.description}}</option>
                                </select>*@
                            </div>

                        </div>
                        <div class="col-lg-4">
                            
                            <label class="col-lg-4 control-label md-label">@L("Status")</label>
                            <div class="col-lg-8">
                                @*<select ng-model="vm.ticket.ticketStatusId" class="view-dropdown">
                                    <option ng-repeat="status in vm.ticketStatuses" value="{{status.id}}" ng-selected="status.id == vm.ticket.ticketStatusId">{{status.description}}</option>
                                </select>*@

                                <select class="view-dropdown" ng-model="vm.ticket.ticketStatusId"
                                        ng-options="status.id as status.description for status in vm.ticketStatuses"></select>
                            </div>

                        </div>
                        <div class="col-lg-4">

                            <label class="control-label  md-label">@L("ClosedDate")</label>
                            <div class="input-group md-label">
                                <input type="text" id="closedDate" ui-date="dateOptions" class="md-special-view-input" ng-model="vm.ticket.closedDate">
                                <span class="input-group-addon "><i class="fa fa-clock-o"></i></span>

                            </div><!-- input-group -->

                        </div>

                    </div>

                </div>
                <div class="row alert alert-info alert-white alert-dismissible fade in">
                    <div class="form-group">
                        <label class="control-label">@L("Note")</label>
                        <textarea name="note" cols="10" rows="1" class="form-control input-sm" data-ng-model="vm.ticket.note"></textarea>
                     </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label class="control-label md-label">@L("PreviousNote")</label>
                        <input type="text" hidden="hidden" class="md-data-view-input" name="previousNote" data-ng-model="vm.ticket.previousNote" />
                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="md-label">@L("Date")</th>
                                    <th class="md-label">@L("Status")</th>
                                    <th class="md-label">@L("Notetable")</th>
                                    <th class="md-label">@L("User")</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="n in vm.ticketNotes">
                                    <td>#</td>
                                    <td>{{n.createdDate}}</td>
                                    <td style="width:100px;">{{ n.status }}</td>
                                    <td class="note-view">{{ n.note}}</td>
                                    <td>{{ n.userName }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="col-md-4">
                            <button id="btnPrintEng" class="btn btn-info" ng-click="vm.printEng()">Print Sticker</button>
                        </div>
                        <div class="col-md-8">

                            <div class="btn-group pull-right">

                                &nbsp;
                                <button id="btnTicketIco" type="submit" class="btn btn-success waves-effect" ng-click="vm.save()"><i class="fa fa-floppy-o"></i></button>
                                <button id="btnTicket" type="submit" class="btn btn-success" ng-click="vm.save()">@L("UpdateTicket")</button>

                                <div class="col-md-2">
                                    <button class="btn btn-default btn-info" ng-click="vm.cancel()">
                                        @L("Cancel")
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </form>

            <div id="divPrintEng" style="display:none">
                <div style="border:solid 1px; border-color:black; width:226.77px;height:113.38px; font-size:10px;margin:1px;">
                    <div>IMEI No  : {{vm.ticket.imeiNumber}}</div>
                    <div>Model    : {{vm.ticket.product}}</div>
                    <div>Promblem : {{vm.ticket.phoneProblem}}</div>
                    <div>Probleme : {{vm.ticket.phoneProblemInfrench}}</div>
                    <div>Promblem : {{vm.ticket.phoneProblemInChinese}}</div>

                </div>

            </div>

        </div>
    </section>


